
/* Generics */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

/* Utils */

.container{
    width: 1080px;
    margin: 0 auto;
}

.row{
    margin: 30px;
}

.sale-price{
    color: red;
    font-weight: bold;
}

.old-price{
    text-decoration: line-through;
}


/* Products */

.main-card{
    height: 600px;
    width: calc(100% / 3 - 9px);
    margin: 0 3px;
    position: relative;
    display: inline-block;
}

.image{
    height: 500px;
    background-color: #eee;
}

.description{
    height: 80px;
    margin: 4px 3px;
    font-size: 0.9em;
    position: absolute;
    bottom: 8px;
}

/* Cards */

.image.card-1{
    background-image: url(../img/1.webp);
    background-size: cover;
}

.image.card-1:hover{
    background-image: url(../img/1b.webp);
    transition: ease-in-out;
    transition-duration: 0.5s;
    background-size: cover;
}

.image.card-2{
    background-image: url(../img/2.webp);
    background-size: cover;
}

.image.card-2:hover{
    background-image: url(../img/2b.webp);
    transition: ease-in-out;
    transition-duration: 0.5s;
    background-size: cover;
}

.image.card-3{
    background-image: url(../img/3.webp);
    background-size: cover;
}

.image.card-3:hover{
    background-image: url(../img/3b.webp);
    transition: ease-in-out;
    transition-duration: 0.5s;
    background-size: cover;
}

.image.card-4{
    background-image: url(../img/4.webp);
    background-size: cover;
}

.image.card-4:hover{
    background-image: url(../img/4b.webp);
    transition: ease-in-out;
    transition-duration: 0.5s;
    background-size: cover;
}

.image.card-5{
    background-image: url(../img/5.webp);
    background-size: cover;
}

.image.card-5:hover{
    background-image: url(../img/5b.webp);
    transition: ease-in-out;
    transition-duration: 0.5s;
    background-size: cover;
}

.image.card-6{
    background-image: url(../img/6.webp);
    background-size: cover;
}

.image.card-6:hover{
    background-image: url(../img/6b.webp);
    transition: ease-in-out;
    transition-duration: 0.5s;
    background-size: cover;
}



/* Tags */

.sale-50{
    background-color: red;
    height: 18px;
    width: 33px;
    position: absolute;
    bottom: 110px;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    text-align: center;
    line-height: 18px;
}

.green-tag{
    background-color: #00875A;
    height: 18px;
    width: 80px;
    position: absolute;
    bottom: 110px;
    left: 37.5px;
    color: white;
    font-weight: bold;
    font-size: 0.75em;
    text-align: center;
    line-height: 18px;
}

.card-6 > .green-tag{
    left: 0;
}

.favourite::after{
    content: '\2665';
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: #fff;
    font-size: 1.4em;
    text-align: center;
    line-height: 35px;
    right: 0;
    top: 14px;
    cursor: pointer;
    transition: trasform 0.5s;
}

.favourite:hover::after{
    color: red;
    background-color: #EEEEEE;
    transform: scale(1.2);
}

a{
    position: relative;
    left: 50%;
    bottom: 50px;
}
