/* Generics */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* Utils */

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    margin: 30px;
}

/* Products */

.cards{
    height: 450px;
    width: calc(100% / 3 - 10px);
    background-color: #E3E3E3;
    display: inline-block;
    margin: 0 3px;
}

.description{
    width: calc(100% / 3 - 10px);
    height: 100px;
    margin: 0 3px;
    background-color: lightblue;

}